$primary: #203647;
$secondary: #BEC8ED;
$success: #7dc37d;
$danger: #DB6666;
$info: #85BBD1;

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
$font-family-base: "Neucha", sans-serif;

$body-bg: $primary;
$body-color: #333333;

$h1-font-size: $font-size-base * 4;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
);

// Bootstrap components
@import "../../node_modules/bootstrap/scss/bootstrap";

// Custom CSS

body {
    min-height: 100vh;
    position: relative;
}

.btn {
    border-radius: 2.5rem;
    @include font-size($h5-font-size);
    transform-origin: 50% 50%;
    transition: none;
}

.btn:hover {
    transform: scale(1.05);
}

.btn:active {
    transform: scale(1);
}

.btn-lg {
    padding: map-get($spacers, 2) map-get($spacers, 5);
    @include font-size($h4-font-size);
}

.btn-block {
    width: 100%;
    height: 100%;
}

input {
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-style: solid;
    border-width: 2px;
    border-color: $body-color;
}

input:focus {
    border-color: #0071de;
    outline: 0;
}

.legend-icon {
    width: 80px;
    margin-right: 1.5rem;
}

.invisible {
    opacity: 0;
}

.subtitle {
    color: $primary;
    @include font-size($font-size-base * 2.5);
    font-weight: 600;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

start-container {
    background-color: white;
    border-radius: 2.5rem;
    padding: $spacer * 2;
    display: block;

    .start-question-icon {
        width: 40px;
    }

    .start-input-container {
        position: relative;
    }

    .start-input {
        width: 100%;
        @include font-size($h3-font-size);
        padding: map-get($spacers, 3);
    }

    .start-input-button {
        position: absolute;
        background-color: $primary;
        border-bottom-right-radius: 225px 15px;
        border-top-right-radius: 15px 225px;
        height: 100%;
        top: 0;
        right: 0;
        cursor: pointer;
    }

    .start-input-button img {
        height: 100%;
        display: block;
    }
}

.card {
    border-radius: 2.5rem;
    padding: map-get($spacers, 4);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1.5rem 0;
    @include font-size($h5-font-size);
}

footer * {
    color: white;
}

footer > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.app-title {
    color: white;
    text-align: center;
    padding: map-get($spacers, 6) 0;
    margin-bottom: 0;
}

.task-list-container {
    border-radius: 2.5rem 2.5rem 0 0;
    @include font-size($h5-font-size);
    background-color: white;
    height: 100%;
    padding: map-get($spacers, 5);

    input {
        width: 95%;
        padding: map-get($spacers, 2);
    }

    input:disabled {
        cursor: default;
        opacity: 1;
        border: none;
        margin: 2px;
        color: $body-color;
        background-color: white;
    }

    .header input {
        font-weight: 600;
    }

    .row {
        margin-bottom: 0;
    }

    .row-bordered {
        border-bottom: 1px dashed #d9d9d8;
    }

    .row > div {
        padding: map-get($spacers, 2);
    }

    .actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .actions i {
        margin-left: 1rem;
        cursor: pointer;
    }

    .save-cancel-container {
        display: none;
    }

    .edit-mode .save-cancel-container {
        display: block;
    }

    .edit-mode .edit-remove-container {
        display: none;
    }

    .col button {
        height: 100%;
        padding: 0;
        width: 100%;
    }
}

.view-only {
    position: absolute;
    cursor: pointer;
    transition-property: top;
    transition-duration: 0.5s;
    width: 100%;

    input:disabled {
        cursor: pointer;
    }
}

.timer-container {
    width: 500px;
    height: 500px;
    display: inline-block;
}

.timer-image {
    transform-origin: 50% 50%;
    transform: scale(0.9);
}

.timer-image:hover {
    cursor: pointer;
    transform: scale(1);
}

.timer-image:active {
    transform: scale(0.9);
}

.red-tomato {
    & > path:nth-child(1) {
        fill: #d7212d;
    }

    & > path:nth-child(2) {
        fill: #b9182a;
    }
}

.green-tomato {
    & > path:nth-child(1) {
        fill: #2dd721;
    }

    & > path:nth-child(2) {
        fill: #2AB918;
    }
}

.timer-text {
    @include font-size($h2-font-size);
}
