input {
    width: 95%;
}

input:disabled {
    cursor: default;
    opacity: 1 !important;
    border: none !important;
    margin: 2px;
}

.row {
    margin-bottom: 0;
}

.col {
    padding: 0;
}

.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.actions i {
    margin-left: 1rem;
    cursor: pointer;
}

.save-cancel-container {
    display: none;
}

.edit-mode .save-cancel-container {
    display: block;
}

.edit-mode .edit-remove-container {
    display: none;
}

.col button {
    height: 100%;
    padding: 0;
    width: 100%;
}